/*var*/
:root {
    --primary-color: #D95650;
    --secondary-color: #DD6661;
    --dark-color: #BC5853;
    --opacity-white: rgba(255, 255, 255, 0.548);

    /*fonts*/
    --font-color-text1: #4c1a1db4;
    --font-color-text: #4C1A1D;
    --primary-font:'Quicksand', sans-serif;
    --secondary-font: 'Varela Round', sans-serif;;
}

/*navbar*/
nav {
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    grid-column: 2/3;
    margin-top: 0;
}

#logo {
    font-size: 1.35rem;
    margin: auto;
    margin-left: 0;
    font-family: var(--primary-font);
}

#logo svg {
    color: white;
}
nav ul li {
    display: inline-block;
    margin-left: 10px;
    list-style: none;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    width: 5rem;
    text-align: center;
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
    color: white;
}

nav svg {
    margin-right: 5px;
    margin-top: 4px;
    
}

body {
    height: auto;
    background: linear-gradient(
        to bottom,
        var(--primary-color)0rem,
        var(--primary-color)50rem,
        white 50rem,
        white 100rem
    );
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
}

.container {
    grid-column: 2/3;
}

.timer ul li:first-child {
    background-color: var(--dark-color);
    padding: 5px;
    border-radius: 4px;
    font-family: var(--primary-font);
}

.timer {
    width: 30rem;
    text-align: center;
    background-color: var(--secondary-color);
    height: 23rem;
    border-radius: 6px;
    grid-column: 2/3;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.timer ul li {
    display: inline-flex;
    justify-content: center;
    padding: 25px;
    margin-right: 1rem;
    color: white;
    font-family: var(--secondary-font);
    cursor: pointer;
}
.time {
    font-size: 8rem;
    font-family: var(--primary-font);
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

button {
    padding: 0px 10px;
    background-color: white;
    width: 12rem;
    height: 55px;
    margin: auto;
    margin-top: 0.8rem;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    box-shadow: lightgrey 0px 6px 0px 0px;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.time-to-focus {
    text-align: center;
    color: white;
    line-height: 0.5rem;
    font-family: var(--secondary-font);
    grid-column: 2/3;
    height: 4rem;
    
}

.time-to-focus p:first-child {
    opacity: 50%;
}

.tasks {
    text-align: center;
    margin: auto;
    grid-column: 2/3;
}

.tasks-title {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 30rem;
    font-family: var(--secondary-font);
    color: white;
    border-bottom: 2px solid var(--opacity-white);
    
}
.tasks-title p {
    font-size: 1.2rem;
}

.tasks-title svg {
    background-color: var(--secondary-color) ;
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}

.add-task {
    margin: auto;
    display: flex;
    color: var(--opacity-white);
    justify-content: center;
    font-family: var(--primary-font);
    padding: 0px 10px;
    background-color: var(--dark-color);
    border-radius: 8px;
    align-items: center;
    margin-top: 1rem;
    border: 2px dashed var(--opacity-white);
    width: 28.5rem;
}

.add-task svg {
    margin-right: 5px;
}

/*text*/

.text {
    grid-column: 2/3;
    width: 38rem;
    margin: auto;
    margin-top: 8rem;
}

.text h1 {
    font-family: var(--primary-font);
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--font-color-text);
}
.text h2 {
    font-family: var(--secondary-font);
    color: var(--font-color-text);
}

.text h2:after {
    content: '';
    display: block;
    width: 1.3rem;
    border-bottom: 4px solid #dd6561b6;
    margin-top: 4px;
}

.text p, ul li, ol li {
    font-family: var(--secondary-font);
    line-height: 1.8rem;
    color: var(--font-color-text1);
    
}


.text a, footer a {
    color: var(--primary-color);
    opacity: 100%;
    font-weight: bold;
}


.text ul li {
    color: var;
}

.text ul {
    list-style: none;
}

.text ul li::before {
    content: '•';
    color: var(--primary-color) ;
    display: inline-block; width: 1em;
    margin-left: -1em;
    font-size: 1.2rem;
}

/*footer*/

footer {
    text-align: center;
    margin-top: 10vh;
    border-top: 2px solid rgba(128, 128, 128, 0.123);
}

footer ul li {
    display: inline-flex;
    align-content: space-between;
    font-weight: bold;
    margin: 0px 5px;
    cursor: pointer;
}
footer svg {
    opacity: 40%;
    margin: 0px 5px;
    cursor: pointer;
}

footer p {
    font-family: var(--secondary-font);
    color: var(--font-color-text1);
}

footer p:nth-of-type(2n) {
    color: grey;
    font-size: 12px;
}

/*media queries*/

@media only screen and (max-width: 835px) {
    nav {
        text-align: center;
        grid-column: 1/4;
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
        justify-content: center;
    }
    main {
        display: unset;
    }
    #logo {
        margin: auto;
    }
    .time {
        font-size: 10vh;
    }
    .tasks {
        width: 100%;
    }
    .tasks-title, .add-task {
        width: 70%;
    }
    .timer { 
       width: 80vw;
       height: 40vh;
    }
    .timer ul li {
        margin-right: 0;
        padding: 5%;
        
    }
    .text p, .text ul li, .text ol li {
        font-size: 2vh;
    }
    .text h1{ 
        font-size: 4vh
    }
    .text h2 {
        font-size: 3vh;
    }
    .text {
        width: 100%;
       margin-top: 13rem;
    }
}
@media only screen and (max-width: 490px) {
    .timer ul {
        padding: 0;
        text-align: center;
    }
    .timer ul li:first-child {
        padding: 3px;
        margin-left: 15px;
        
    }
}
